.App {
 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


.mydiv{
 
  display: flex;
  width: 70%;
  height: 32px;
  margin: 1% auto;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-color: rgb(65, 124, 212);
  border-radius: 5px;
  
  
}

.mydiv input{
  width: 25%;
  height: 70%;
  border-radius: 5px;
  
}

.gallery{

  /* to align */
  display: flex;

  /* agr ye row image fit nhi ho rhe tao baki images next line se shuru honge */
  flex-wrap: wrap;

  margin: 2px auto;
  
}

.gallery img{
  width: 20%;
  margin: 10px 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  
  padding: 5px;
  float: left;
  
}

button{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-left: 5px;
  width: 4%;
  height: 86%;


}